*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}


.content {
  display: grid;
  grid-template-columns: 711px 1fr;
  grid-template-rows: 534px;
  gap: 30px;
  width: 1140px;
  height: 534px;
  align-items: end;
  grid-template-areas: "result content__details";
}

.result {
  grid-area: result;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  margin-top: 16px;
  display: flex;
  height: 54px;
  justify-content: space-between;
  align-items: end;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: end;
  border: 0;
  height: 54px;
}



.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;
}


.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__checkbox-list {
  width: 212px;
  height: 22px;
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 5px;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}


.search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  inset: 1px;
  background-color: #fff;
  display: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
}

.search-form__pseudo-checkbox:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__textfield {
  appearance: none;
  border: none;
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  width: 225px;
  height: 27px;
  color: #fff;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
}

.button {
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;

  height: 34px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
}

button:active {
  background-color: #545050;
  text-decoration: none;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__submit-button {
  width: 194px;
}

.content__details {
  grid-area: content__details;
  width: 399px;
  height: 534px
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-style: Bold;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow: auto;
  margin-top: 26px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  display: flex;
}


.content__card-link {
  text-decoration: none;
  color: white;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-description-container {
  width: 196px;
  height: 103px;
}

.content__video-card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Oswald;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.content__video-card-description {
  margin-top: 6px;
  line-clamp: 1;
  text-overflow: ellipsis;
  text-decoration: none;
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0;

}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover .content__video-card-description-container {
  text-decoration: underline;
}

.content__list-item:focus{
  outline: none;
  padding: 0 3px;
}

.content__card-link:focus-visible .content__video-card {
  outline: 1px solid #fff;
  outline-offset: 2px;
}


.more-button {
  margin-top: 30px;
  width: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
